body {
	background: #00ffff;
	background-image: url("img/fons_aigua.jpg");
	background-size: 100%;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 22px;
}

h1,h2,h3 {
	text-align: center;
}

h1.principal {
	text-shadow: 2px 0 #0ff, -2px 0 #0ff, 0 2px #0ff, 0 -2px #0ff,
	1px 1px #0ff, -1px -1px #0ff, 1px -1px #0ff, -1px 1px #0ff;
}

div.head_user {
	position: sticky;
	width: 100%;
	text-align: right;
	letter-spacing: 0.7em;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #00ffff50;
	padding-top: 10px;
	padding-bottom: 10px;
	top: 10px;
	z-index: 10;
}
span.head_user {
	margin-right: 10px;
	margin-bottom: auto;
}

span#inici {
	float: left;
	margin-left: 10px;
}

div.boto_inici {
	border: 2px solid black;
	border-radius: 30px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#estat {
	background-color: rgb(255, 0, 0, 0.8);
}

div#control {
	background-color: rgb(0, 128, 0, 0.8);
}

div#accio {
	background-color: rgb(0, 0, 255, 0.8);
}

div.form {
	border: 1px solid black;
	border-radius: 5px;
	background-color: #00ffff80;
}

/* CONTROL */
div.control {
	border: 2px solid black;
	border-radius: 30px;
	width: 95%;
  	padding-top: 100%; /* 1:1 Aspect Ratio */
  	position: relative;
	background-color: #00ffff80;
	cursor: pointer;
}
div.controlText {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height:100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.controlText h1,h2 {
	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
	1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
div#total {
	padding: 5px;
	height: 50px;
	border-radius: 15px;
	background-image: url(img/caseta.jpg);
	background-size: 100%;
	background-position: center; 
}

div#phclor {
	background-image: url(img/phclor.jpg);
	background-size: 100%;
}

div#aigua {
	background-image: url(img/aigua.jpg);
	background-size: 100%;
}

div#phmes {
	background-image: url(img/phmes.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}

div#phmenys {
	background-image: url(img/phmenys.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}
div#clor {
	background-image: url(img/clor.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}
div#antialga {
	background-image: url(img/antialga.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}
div#alcali {
	background-image: url(img/alka.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}
div#fluoculant {
	background-image: url(img/fluoculant.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}

div#aglutinant {
	background-image: url(img/aglutinant.jpg);
	background-size: 66%;
	background-position: center; 
	background-repeat: no-repeat;
}

table.control{
	border: none;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

table#accio {
	background-image: url(img/prestatge.jpg);
	background-size: 100%;
	border-radius: 20px;
}

table.formTable {
	border: none;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

table.centre {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.avisTemporal {
	border: 3px solid red;
	border-radius: 10px;
	background-color: #00ffff80;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	position: relative;
}

div.alertaUrgent {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #ff8000bb;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: left;
	position: relative;
}
.alertaUrgent h2 {
	text-shadow: 2px 0 #f00, -2px 0 #f00, 0 2px #f00, 0 -2px #f00,
	1px 1px #f00, -1px -1px #f00, 1px -1px #f00, -1px 1px #f00;
}

div.tancar {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	z-index: 1;
	cursor: pointer;
}

.avisTemporal h2 {
	margin-bottom: -10px;
	text-shadow: 2px 0 #f00, -2px 0 #f00, 0 2px #f00, 0 -2px #f00,
	1px 1px #f00, -1px -1px #f00, 1px -1px #f00, -1px 1px #f00;
}

a.dissimulat:link {
	text-decoration: none;
	color: black;
}

a.dissimulat:visited {
	text-decoration: none;
	color: black;
}

a.dissimulat:hover {
	text-decoration: underline;
	color: red;
}