body {
	background: #00ffff;
	background-image: url("img/fons_aigua.jpg");
	background-size: 100%;
	margin-right: 5px;
	margin-left: 5px;
}

h1,h2,h3 {
	text-align: center;
}

div.head_user {
	width: 100%;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.7em;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #00ffff50;
	padding-top: 10px;
	padding-bottom: 10px;
}
span.head_user {
	margin-right: 10px;
	margin-bottom: auto;
}

span#inici {
	float: left;
	margin-left: 10px;
}

div.boto_inici {
	border: 2px solid black;
	border-radius: 30px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

div#estat {
	background-color: rgb(255, 0, 0, 0.8);
}

div#control {
	background-color: rgb(0, 128, 0, 0.8);
}

div#accio {
	background-color: rgb(0, 0, 255, 0.8);
}

/* CONTROL */
div.control {
	border: 2px solid black;
	border-radius: 30px;
	width: 95%;
  	padding-top: 100%; /* 1:1 Aspect Ratio */
  	position: relative;
	background-color: #00ffff50;
}
div.controlText {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height:100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

table.control{
	border: none;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

table.centre {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a.dissimulat:link {
	text-decoration: none;
	color: black;
}

a.dissimulat:visited {
	text-decoration: none;
	color: black;
}

a.dissimulat:hover {
	text-decoration: underline;
	color: red;
}